.main-page__footer
  .main-page__footer__left
    .main-page__footer__left__copy-right
      = "©︎2019 kurogoro"
  .main-page__footer__right
    = link_to "", class: 'main-page__footer__right__link' do
      = icon 'fas', 'envelope', class: "main-page__footer__right__link__icon"
    = link_to "", class: 'main-page__footer__right__link' do
      = icon 'fab', 'twitter', class: "main-page__footer__right__link__icon"
    = link_to "", class: 'main-page__footer__right__link' do
      = icon 'fab', 'github', class: "main-page__footer__right__link__icon"
