.main-page__header__right-top
  = form_tag "", method: :get, class: "main-page__header__right-top__form-search" do
    = text_field_tag :keyword, "", placeholder: " プロジェクト名やグループ名を検索", class: "main-page__header__right-top__form-search__input"
    = button_tag type: "submit", class: "main-page__header__right-top__form-search__btn" do
      = icon 'fas', 'search', class: "main-page__header__right-top__form-search__btn__icon"
.main-page__header__right-bottom
  .main-page__header__right-bottom__left
    .main-page__header__right-bottom__left__tag
      .main-page__header__right-bottom__left__tag__header
        = link_to "", class: 'main-page__header__right-bottom__left__tag__header__link' do
          = icon 'fas', 'users', class: "main-page__header__right-bottom__left__tag__header__link__icon"
          .main-page__header__right-bottom__left__tag__header__link__text
            Group
      %ul.main-page__header__right-bottom__left__tag__menu
        - 5.times do |i|
          %li.main-page__header__right-bottom__left__tag__menu__item
            = link_to "Group#{i} name", "", class: "main-page__header__right-bottom__left__tag__menu__item__link"
        %li.main-page__header__right-bottom__left__tag__menu__item
          = link_to "Group一覧から探す", "", class: "main-page__header__right-bottom__left__tag__menu__item__link"
    .main-page__header__right-bottom__left__tag
      .main-page__header__right-bottom__left__tag__header
        = link_to "", class: 'main-page__header__right-bottom__left__tag__header__link' do
          = icon 'fas', 'project-diagram', class: "main-page__header__right-bottom__left__tag__header__link__icon"
          .main-page__header__right-bottom__left__tag__header__link__text
            Project
      %ul.main-page__header__right-bottom__left__tag__menu
        - 5.times do |i|
          %li.main-page__header__right-bottom__left__tag__menu__item
            = link_to "Project#{i} name", "", class: "main-page__header__right-bottom__left__tag__menu__item__link"
        %li.main-page__header__right-bottom__left__tag__menu__item
          = link_to "Projectから探す", "", class: "main-page__header__right-bottom__left__tag__menu__item__link"
    .main-page__header__right-bottom__left__tag
      .main-page__header__bottom__left__tag__header
        = link_to "", class: 'main-page__header__right-bottom__left__tag__header__link' do
          = icon 'fas', 'tags', class: "main-page__header__right-bottom__left__tag__header__link__icon"
          .main-page__header__right-bottom__left__tag__header__link__text
            Process
      %ul.main-page__header__right-bottom__left__tag__menu
        - 5.times do |i|
          %li.main-page__header__right-bottom__left__tag__menu__item
            = link_to "Process#{i} name", "", class: "main-page__header__right-bottom__left__tag__menu__item__link"
        %li.main-page__header__right-bottom__left__tag__menu__item
          = link_to "Process一覧から探す", "", class: "main-page__header__right-bottom__left__tag__menu__item__link"
  .main-page__header__right-bottom__right
    - if person_signed_in?
      = link_to "ログアウト", destroy_person_session_path, method: :delete, class: "main-page__header__right-bottom__right__btn"
      = link_to "自分の予定", "", class: "main-page__header__right-bottom__right__btn"
      = link_to "タスク作成", "", class: "main-page__header__right-bottom__right__btn"
    - else
      = link_to "ログイン", new_person_session_path, class: "main-page__header__right-bottom__right__btn"
      = link_to "新規登録", new_person_registration_path, class: "main-page__header__right-bottom__right__btn"
