.main-page__body__sidebar
  = link_to "", class: "main-page__body__sidebar__link" do
    = icon 'fas', 'chart-bar', class: "main-page__body__sidebar__link__icon main-page__body__sidebar__link__icon--active"
  = link_to "", class: "main-page__body__sidebar__link" do
    = icon 'fas', 'chart-line', class: "main-page__body__sidebar__link__icon"
  = link_to "", class: "main-page__body__sidebar__link" do
    = icon 'fas', 'list', class: "main-page__body__sidebar__link__icon"
