= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "main-page__body__form" }) do |f|
  = render "devise/shared/error_messages", resource: resource
  .main-page__body__form__group.main-page__body__form__group--border-bottom
    .main-page__body__form__group__field
      .main-page__body__form__group__field__title
        ユーザー新規登録
  .main-page__body__form__group
    .main-page__body__form__group__field
      = f.label :nickname, "ニックネーム", class: "main-page__body__form__group__field__label"
      %span.main-page__body__form__group__field__mark.main-page__body__form__group__field__mark--require 必須
      = f.text_field :nickname, autofocus: true, autocomplete: "nickname", placeholder: "例) ティディベア", class: "main-page__body__form__group__field__input"
    .main-page__body__form__group__field
      = f.label :email, "メールアドレス", class: "main-page__body__form__group__field__label"
      %span.main-page__body__form__group__field__mark.main-page__body__form__group__field__mark--require 必須
      = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "PC・携帯どちらでも可", class: "main-page__body__form__group__field__input"
    .main-page__body__form__group__field
      = f.label :password, "パスワード", class: "main-page__body__form__group__field__label"
      %span.main-page__body__form__group__field__mark.main-page__body__form__group__field__mark--require 必須
      = f.password_field :password, autocomplete: "new-password", placeholder: "6文字以上", class: "main-page__body__form__group__field__input"
    .main-page__body__form__group__field
      = f.label :password_confirmation, "パスワード（確認）", class: "main-page__body__form__group__field__label"
      %span.main-page__body__form__group__field__mark.main-page__body__form__group__field__mark--require 必須
      = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "6文字以上", class: "main-page__body__form__group__field__input"
    .main-page__body__form__group__field
      = f.submit "新規登録", class: "main-page__body__form__group__field__submit-btn"
    .main-page__body__form__group__field
      .main-page__body__form__group__field__text.main-page__body__form__group__field__text--right-small
        ※ すでに登録されたユーザーでログインする場合は
        = link_to "こちら", new_person_session_path, class: "main-page__body__form__group__field__text__link"
