= form_for @project, html: { class: ["main-page__body__form", "main-page__body__form--wide"] } do |f|
  .main-page__body__form__group.main-page__body__form__group--border-bottom
    .main-page__body__form__group__field
      .main-page__body__form__group__field__title
        プロジェクト作成
  .main-page__body__form__group
    .main-page__body__form__group__field
      = f.label :name, "プロジェクト名", class: "main-page__body__form__group__field__label"
      %span.main-page__body__form__group__field__mark.main-page__body__form__group__field__mark--require 必須
      = f.text_field :name, placeholder: "例) ティディベアプロジェクト", class: "main-page__body__form__group__field__input"
    .main-page__body__form__group__field
      = f.label :detail, "詳細", class: "main-page__body__form__group__field__label"
      %span.main-page__body__form__group__field__mark.main-page__body__form__group__field__mark--require 必須
      = f.text_area :detail, placeholder: "例) プロジェクト詳細", class: "main-page__body__form__group__field__input-area"
    .main-page__body__form__group__field
      = f.label :deadline, "締切日", class: "main-page__body__form__group__field__label"
      %span.main-page__body__form__group__field__mark.main-page__body__form__group__field__mark--require 必須
      = f.text_field :deadline, placeholder: "例) 2019/8/1", class: ["main-page__body__form__group__field__input", "date-picker"]
    .main-page__body__form__group__field
      = f.label :public_access_id, "公開・非公開選択", class: "main-page__body__form__group__field__label"
      %span.main-page__body__form__group__field__mark.main-page__body__form__group__field__mark--require 必須
      = f.collection_select :public_access_id, PublicAccess.all, :id, :name, { include_blank: "---" }, { class: "main-page__body__form__group__field__input" }
  .main-page__body__form__group
    .main-page__body__form__group__double-field
      .main-page__body__form__group__double-field__group.main-page__body__form__group__double-field__group--left
        .main-page__body__form__group__double-field__group__field-box
          .main-page__body__form__group__double-field__group__field-box__title
            参加グループリスト
          .main-page__body__form__group__double-field__group__field-box__field
            = f.text_field :administrator_id, name: "project[administrator_id]", type: "hidden", value: current_person.id
            .main-page__body__form__group__double-field__group__field-box__field__mark
              管理者
            .main-page__body__form__group__double-field__group__field-box__field__text
              = current_person.nickname
        #group-list.main-page__body__form__group__double-field__group__field-box.main-page__body__form__group__double-field__group__field-box--list-box{ data: { save: "false" } }
          - @project.groups.each do |group|
            .main-page__body__form__group__double-field__group__field-box__field
              = f.text_field :group_ids, name: "project[group_ids][]", type: "hidden", value: group.id
              .main-page__body__form__group__double-field__group__field-box__field__text
                = group.name
              .main-page__body__form__group__double-field__group__field-box__field__btn.main-page__body__form__group__double-field__group__field-box__field__btn--remove{ data: { group: { id: group.id, name: group.name } } }
                = icon 'fas', 'times', class: "main-page__body__form__group__double-field__group__field-box__field__btn__icon"
      .main-page__body__form__group__double-field__group.main-page__body__form__group__double-field__group--right
        .main-page__body__form__group__double-field__group__field-box
          .main-page__body__form__group__double-field__group__field-box__title
            グループ検索
          .main-page__body__form__group__double-field__group__field-box__field
            %input#group-search-input.main-page__body__form__group__double-field__group__field-box__field__input{ placeholder: "グループ名を検索", type: "text" }
        #group-search-list.main-page__body__form__group__double-field__group__field-box.main-page__body__form__group__double-field__group__field-box--list-box
          -# - 20.times do
          -#   .main-page__body__form__group__double-field__group__field-box__field
          -#     .main-page__body__form__group__double-field__group__field-box__field__text
          -#       = "検索ユーザー名"
          -#     .main-page__body__form__group__double-field__group__field-box__field__btn.main-page__body__form__group__double-field__group__field-box__field__btn--add{data: { person: { id: "number", nickname: "nickname" } }}
          -#       = icon 'fas', 'plus', class: "main-page__body__form__group__double-field__group__field-box__field__btn__icon"
  .main-page__body__form__group
    .main-page__body__form__group__field
      = f.submit "プロジェクト作成", class: "main-page__body__form__group__field__submit-btn"
